<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Your Travel Diary Home</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>

  <body>
    <div class="container">
      <div class="header">
        <h1>Your Travel Diary!</h1>
      </div>

      <a href='/place'>See list of all places!</a>
      <a href='/place/new'>Submit a new Travel Destination</a>
    </div>

  </body>
</html>